**/node_modules/**
**/dist/**
**/build/**
**/bundle/**
**/public/**
**/tests-examples/**
**/.gen/**
**/sam-app/**
pnpm-lock.yaml
packages/infrastructure/cdktf.out/**
packages/frontend/playwright-report/**
